@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Oswald:wght@300;400;500;600;700&display=swap');

.stay__landingPage {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 140px;

}

#vid {
  pointer-events: none;
}

.navbar .container {
  max-width: 1440px;
}

.txt__bookStay {
  font-size: 1.7rem;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: 'Oswald', sans-serif;
  color: #000;
  font-weight: 400;
}

.stay__logo {
  height: 50px;
}

.navbar-nav {
  justify-content: space-between;
  display: flex;
  width: 100%;
  align-items: center;
}

.navbar-nav .nav-item:nth-child(1) {
  width: 17%;
  display: flex;
  justify-content: flex-start;
}

.navbar-nav .nav-item:nth-child(3) {
  width: 17%;
  display: flex;
  justify-content: flex-end;
}

.navbar-nav .container {
  max-width: 100%;
  margin: 0px;
}

.navbar-toggler {
  display: block !important;
  outline: none;
  border: 1px solid transparent !important;
  font-size: 2rem;
  color: transparent;
}

.navbar-toggler:focus {
  outline: none;
  border: 1px solid transparent;
}

/* Section 1 Start */
.video__container {
  background-color: #ddd0c3;
  position: relative;
  height: 700px;
  overflow: hidden;
}

.video__container .carousel__container {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 122;
  width: 100%;
  background: rgba(0, 0, 0, .3);
  backdrop-filter: blur(10px);
  padding-bottom: 4px;
  padding: 20px 0px;
}

.carousel__container .slick-slider {
  max-width: 95%;
  margin: auto;
  border: 4px solid transparent;
}
.carousel__container .slick-slider .slick-arrow img{
  top: -10px;
  position: relative;
}
.carousel__container .slick-slider .slick-arrow::before {
  display: none;
}

.carousel__container .slick-slider .slick-slide {

  color: white;
  padding: 0px 35px;
  text-align: center;
}

.carousel__container .slick-slider .slick-slide h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  line-height: 33px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 400;
  margin-bottom: 10px;
}

.carousel__container .slick-slider .slick-slide p {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  line-height: 17px;

  font-weight: 400;
}

.carousel__container .slick-slider .slick-slide {
  border-right: 1.5px solid white;
  min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__container .slick-slider .slick-slide.slick-active:nth-child(4) {
  border-right: 1.5px solid transparent !important;
}

/* Section 1 End */

/* Section Start */
.section2 {
  background-color: #ddd0c3;
  top: 0px;
  text-align: center;
}

.section2 .wrapper {
  max-width: 940px;
  width: 100%;
  padding: 0px 15px;
  margin: auto;
}

.section2 .wrapper .container_02 {
  padding: 90px 0px 70px;
}

.section2 .wrapper .text__container h2.txt__title {
  font-size: calc(30px + 12*(100vw - 255px)/1665);
  letter-spacing: 1px;
  font-family: 'Oswald', sans-serif;
  color: #000;
  font-weight: 300;
  max-width: 700px;
  margin: auto;
  line-height: 60px;
}

.section2 .wrapper .text__container .txt__content {
  font-size: 1.25rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}


.section2 .wrapper .text__container {
  padding: 70px 0 90px !important;
}

/* Section 2 end */

/* Section 3 Start */
.section3 {
  overflow: hidden;

}

.section3 .row .left__container {
  height: 100%;
  padding: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.section3 .row .left__container h1 {
  font-size: calc(30px + 12*(100vw - 255px)/1665);
  letter-spacing: 1px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  margin-bottom: 0px;
}

.section3 .row .left__container p {
  margin: 2rem auto;
  max-width: 600px;
  font-family: 'Lato', sans-serif;
  font-size: calc(14px + 6*(100vw - 255px)/1665);
  color: #000;
  font-weight: 400;
  line-height: 1.5;
}

.section3 .row .left__container a {
  font-family: 'Oswald', sans-serif;
  padding: 0 28px;
  font-size: 20px;
  width: auto;
  text-align: center;
  line-height: 38px;
  height: 38px;
  color: white;
  background-color: #000;
  border: 1px solid;
  border-color: #000;
  box-shadow: unset !important;
  display: flex;
  align-items: center;
  font-weight: 400;
  letter-spacing: 4px;
}

.section3 .row .right__container {
  padding: 0px;
}

.section3 .row .right__container img {
  min-height: 400px;
  max-height: 400px;
  height: 100%;
  width: 100%;
}

/* Section 3 end */

.logoV {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
}

.logoV Image {
  width: 35px;
  height: 70px;
  vertical-align: middle;
}


.layout {
  padding: 0;
  align-self: center;
  text-align-last: center;

  padding-top: 62px;
  padding-bottom: 52px;
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.section3 h1 {
  font-size: calc(33px + 12*(100vw - 255px)/1665);
}

.section3 p {
  text-align: center;
  width: 80%;
  margin: 2rem auto;
  display: block;
}

.btn__null {
  text-align: center;
  color: #fff !important;
  background-color: #000 !important;
  padding: 0 28px;
  font-size: 25px;
  width: auto;
  text-align: center;
  line-height: 38px;
  height: 38px;
  text-decoration: none;



}

.section3 img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.image__item img {
  height: 186px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  text-decoration: none;
  width: 100%;
  padding: 1px;
}

.image__item {
  padding: 0%;
}

.section4 .row>* {
  padding: 0% !important;
}

.section4 {
  padding: 42px 0;

}

.sbi__load {
  color: #fff;
  width: 100%;
  text-align: center;

}

.sbi__load a {
  background-color: #408bd1;
  color: #fff;

  display: inline-block;
  vertical-align: top;
  padding: 7px 14px;
  margin: 5px auto 0;
  border: none;
  text-decoration: none;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 4px;

}

.sbi__load a:hover {
  background-color: #007bff;
  color: #fff;

}

.up {
  text-align: center;
  vertical-align: middle;
}

.up img {
  width: 34px;
  height: 30px;
  margin-bottom: 25px;
}

.site__footer {
  background: #000;
  padding: 46px 0;
}

.section4 .row {
  padding: 0 10px;
}

.image__settings {
  width: 100%;
  height: 100%;
}

.site__footer {
  overflow: hidden;
  padding: 46px 35px;
}

.site__footer .column01 p {
  font-size: calc(14px + 2*(100vw - 1061px)/859);
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.site__footer .column02 ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0px;
}

.site__footer .column02 {
  padding: 0px 30px !important;
}

.site__footer .column02 ul li {
  font-size: 16px;
  padding: 0px 35px;
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  width: 25%;
  font-weight: 300;
  align-items: center;
  display: flex;
  justify-content: center;
}

.site__footer .column02 .logo__container img {
  height: 100px;
  width: auto;
}

.site__footer .column02 .logo__container {
  display: flex;
  justify-content: space-around;
}

.site__footer .column03 {
  padding: 0 20px;
}

.site__footer .column03 .ico__container {
  display: flex;
  justify-content: center;
  gap: 40px;
}